<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<title>About page</title>
</head>

<body>
	<h1>here is a picture</h1>
	<img src='images/bhole.jpg' />
</body>

	{{> footer}}
<!--<footer>
	<p>Copyright {{year}}</p>
</footer> -->

</html>